h1 {
    color: white;
    font-weight: bold;
}

.service-header {
    background-color: #417D7A;
}

h4 {
    color: #2e5f5d;
    text-align: center;
}

.content {
    margin-top: 30px;
    padding: 0 100px;
}

h3 {
    margin-top: 80px;
    color: #2e5f5d;
    text-align: center;
    font-weight: bold;
}